.expenses__filter {
  color: #fff;
  padding: 0 1rem;
}

.expenses__filter div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.expenses__filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses__filter select {
  font-size: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 0.6rem;
}
