.expense__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  text-align: left;
  gap: 1rem;
}

.expense__controls label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.expense__controls input {
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.expense__actions {
  text-align: right;
}

.btn {
  font-size: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #40005d;
  border: 1px solid #40005d;
  border-radius: 1.2rem;
  margin-right: 1rem;
}

.btn:hover,
.btn:active {
  background-color: #510674;
  border-color: #510674;
}

.btn:focus {
  outline: none;
}
